<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Transfer</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="icon" type="image/ico" href="icon/logo.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>

<body id="main">
    <style type="text/css">
        #main {
            background: #ECE9E6;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FFFFFF, #ECE9E6);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        padding: 0;
        margin: 0;

        }
    </style>
    <div class="row">
        <div class="col-md-12 text" style="text-align: center;">
            <h2>
                Bienvenido a File Transfer Off-Line <img src="icon/logo.ico" alt="" srcset="">
            </h2>

            <div style="text-align: justify;" class="col-md-6 mx-auto">
                <section>
                    <p>Transfiere Archivos a tu telefono sin internet ni cables, solo usando la conexion wifi de tu
                        telefono o router, tambien puedes subir a la pc, todo en una sola aplicacion</p>
                    <p> Es simplemente genial, los archivos mostrados aqui los encontraras en la carpte file donde
                        ejecutaste la aplicacion</p>

                </section>
            </div>


        </div>
    </div>
    {{{body}}}


</body>

</html>